@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
 
body {
            background-color: #0d0d0d;
            font-family: 'Roboto Mono', monospace;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        .logo img {
            width: 100px;
            height: 100px;
            transition: transform 0.6s ease;
        }

        .logo img:hover {
            transform: rotate(360deg);
        }

        .search-container {
            margin-top: 20px;
        }

        .search-box {
            width: 500px;
            padding: 10px;
            font-size: 16px;
            border-radius: 24px;
            border: none;
            background: #141414;
            font-family: 'Roboto Mono', monospace;
            color: #fff;
        }

        .search-button {
            display: none;
        }

        .quick-links {
            margin-top: 30px;
        }

        .quick-links a {
            display: inline-block;
            margin: 0 15px;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }

        .quick-links img {
            width: 48px;
            height: 48px;
            display: block;
            margin: 0 auto;
            border-radius: 100px;
        }

        .quick-links .text {
            margin-top: 5px;
            display: block;
            font-family: 'Roboto Mono', monospace;
        }

        .links {
            margin-top: 20px;
        }

        .links a {
            margin: 0 15px;
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-family: 'Roboto Mono', monospace;
        }

        .links a:hover {
            text-decoration: underline;
        }

        .time-container {
            position: fixed;
            bottom: 10px;
            left: 10px;
            font-size: 16px;
            padding: 5px 10px;
            color: #fff;
            border-radius: 5px;
        }
